

#tabBox{
    margin: 50px auto;
    width: 500px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

#navBox{
    display: flex;
}

#navBox li{
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid #999;
    margin-right: 10px;
    padding: 0 10px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

#navBox li.active{
    border-bottom-color: #fff;

}

#tabBox > div{
    display: none;
    padding: 10px;
    height: 150px;
    border: 1px solid #999;
}

#tabBox > div.active{
    display: block;
}